#headPic {
    margin: 0;
    position: relative;
    width: 100%;

}

img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}

.textContainer {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 30%;

    top: 35%;
    color: white;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.textContainerFoot {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 10%;

    top: 10%;
    color: white;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.highLight {
    color: rgb(219, 198, 4);
}

body {
    background-color: rgb(15, 15, 17);
}

#join {
    background-color: rgb(219, 198, 4);
}

.navBar {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}

.section{
    padding: 100px 50px 100px 50px;
}

.dropped{
    padding-top: 100px;
    padding-left: 50px;
}

.noBack{
    background-color: rgb(15, 15, 17);
    color: white;
    border-width: 0;
}

.subTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 198, 4);
}

.relative{
    position: relative;
}

.highLightBack{
background-color: rgb(219, 198, 4);
}

footer{
    height: 150px;
}

.contrast{
    background-color: rgba(31, 30, 30, 0.8);
}